*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
	height: 100%;
  margin: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $primary;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption {
  margin: 0;
  font-size: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
  height: auto;
}

.container {
  max-width: 1135px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
