@media (max-width: 1300px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  .header__inner {
    grid-template-columns: 82px auto 82px;
  }
}

@media (max-width: 950px) {
  .contacts {
    &__photo {
      display: none;
    }
    &__info {
      max-width: 100%;
    }
  }
  .form {
    &__input-box {
      max-width: 370px;
    }
    &__input-box--name {
      margin-right: 15px;
    }
    &__input-box--textarea {
      max-width: 100%;
    }
  }
}

@media (max-width: 850px) {
.form__input-box--name {
  margin-bottom: 30px;
}
.form__input-box {
      max-width: 100%;
      margin-right: 0px;
    }
}

@media (max-width: 768px) {
  .header {
    height: 720px;
    &__social {
      display: none;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      padding-left: 31px;
      width: 100%;
    }
    &__container-title {
      font-size: 37px;
      line-height: 50px;
    }
  }
  .menu {
    height: 720px;
    &__left {
      padding-left: 10px;
    }
  }
  .experience {
    &__inner-text {
      margin-bottom: 70px;
      &::before {
        bottom: -20px;
      }
    }
  }
  .experience__inner, .contacts__inner {
    padding: 80px 30px 0 31px;
  }
  .experience__inner-text, .contacts__info-text {
    font-size: 30px;
    line-height: 48px;
  }
}

@media (max-width: 600px) {
  .collection {
    flex-direction: column;
    &__education,
    &__job {
      max-width: 100%;
    }
    &__education {
      margin-bottom: 40px;
    }
  }
  .form__btn {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .header {
    &__burger-btn {
      margin-right: 20px;
    }
    &__inner {
      padding-left: 10px;
    }
    &__burger-btn {
      margin-right: 15px;
    }
    &__container-btns a {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  .experience__inner, .contacts__inner {
     padding: 40px 15px 0 10px;
  }
  .form__checkbox-container {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .header {
    height: 640px;
    &__container-title {
      font-size: 26px;
      line-height: 39px;
    }
  }
  .menu {
    height: 640px;
  }
  .experience {
    &__inner-text {
      margin-bottom: 55px;
      &::before {
        bottom: -15px;
      }
    }
  }
  .experience__inner-text, .contacts__info-text {
    font-size: 24px;
    line-height: 36px;
  }
  .form {
    &__textarea {
      min-height: 141px;
    }
  }
}
