@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $wrap;
  }

@mixin typography($fw, $fs, $lh) {
  font-family: "Poppins", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
