$primary: #000000;
$secondary: #FFA501;
$white: #FFFFFF;

%h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

%h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

%h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

%circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $secondary;
  position: absolute;
}

%line {
  width: 60px;
  height: 3px;
  background-color: $secondary;
  position: absolute;
}
