.contacts {
  width: 100%;
  &__inner {
    width: 100%;
    padding: 120px 35px 92px 52px;
    @include flex(row, space-between, flex-start, nowrap);
  }
  &__photo {
    width: 400px;
    max-height: 600px;
    height: 100%;
    margin-right: 15px;
  }
  &__photo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    max-width: 585px;
  }
  &__info-title {
    @extend %h6;
    margin: 6px 0 6px 12px;
    position: relative;
    &::before {
      content: '';
      @extend %circle;
      top: -6px;
      left: -12px;
      z-index: -1;
    }
  }
  &__info-text {
    @include typography(700, 36px, 60px);
    margin-bottom: 24px;
  }
  &__info-description--top,
  &__info-description--bottom {
    @include typography(700, 14px, 21px);
    margin-bottom: 20px;
  }
  &__social {
    margin-bottom: 20px;
  }
  &__social-list {
    display: flex;
  }
  &__social-item {
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
  &__social-icon {
    width: 30px;
    height: 30px;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__input-box {
    position: relative;
    width: 100%;
    max-width: 280px;
  }
   &__input-box._error::before {
    content: 'Поле обязательно к заполнению';
      position: absolute;
      color: red;
      bottom: -20px;
  }
  &__input-box--textarea {
    width: 100%;
    max-width: 585px;
    margin-bottom: 28px;
    margin-top: 30px;
  }
  &__input-label {
    position: absolute;
    display: block;
    padding: 0px 8px;
    background-color: #ffffff;
    @include typography(500, 12px, 18px);
    left: 12px;
    top: -9px;
    pointer-events: none;
    transition: 0.3s;
  }
  &__textarea {
    width: 100%;
    border: 1px solid $primary;
    padding: 14px 17px;
    min-height: 190px;
    resize: none;
    outline: none;
  }
  &__input {
    width: 100%;
    border: 1px solid $primary;
    padding: 14px 20px 13px 20px;
  }
  &__btn {
    background-color: $secondary;
    @include typography(700, 14px, 21px);
    cursor: pointer;
    padding: 12px 26px;
    border: none;
  }
  &__btn:hover {
    background-color: #f9c667;
  }
  &__input._error {
    box-shadow: 0 0 15px red;
  }
  &__checkbox-container {
    display: none;
  }
}
.form {
  position: relative;
}
.form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.3) url("../../images/ZKZg.gif") center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  z-index: 10;
}
.form._sending::before {
  opacity: 1;
  visibility: visible;
}
