.experience {
  width: 100%;
  &__inner {
    width: 100%;
    padding: 120px 90px 0 65px;
    @include flex(column, flex-start, center, nowrap);
  }
  &__inner-title {
    @extend %h6;
    margin-bottom: 6px;
    position: relative;
    &::before {
      content: '';
      @extend %circle;
      top: -5px;
      left: 5px;
      z-index: -1;
    }
  }
  &__inner-text {
    @include typography(700, 36px, 60px);
    position: relative;
    margin-bottom: 85px;
    &::before {
      content: '';
      @extend %line;
      bottom: -25px;
      left: 42%;
    }
  }
}
.collection {
  width: 100%;
  @include flex(row, space-between, flex-start, nowrap);
  gap: 10px;
  &__education,
  &__job {
    max-width: 425px;
    position: relative;
    border-left: 1px solid $primary;
    padding-left: 43px;
    &::after {
      content: '';
      @extend %circle;
      width: 15px;
      height: 15px;
      top: 0px;
      left: -8px;
    }
  }
  &__education-title,
  &__job-title{
    @extend %h5;
    margin-bottom: 45px;
  }
  &__education-item,
  &__job-item {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      @extend %circle;
      top: 0;
      z-index: -1;
    }
  }
  &__education-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  &__education-icon--university {
    width: 20px;
  }
  &__education-item span,
  &__job-item span {
    width: 42px;
    height: 1px;
    background-color: $primary;
    position: absolute;
    top: 18px;
    left: -43px;
  }
  &__education-item--university {
    &::before {
      content: '';
      width: 20px;
      height: 25px;
    }
  }
  &__education-item--courses::before {
    background-image: url(../../images/icons/courses.svg);
  }
  &__job-item--developer::before {
    background-image: url(../../images/icons/developer.svg);
  }
  &__job-item--designer::before {
    background-image: url(../../images/icons/designer.svg);
  }
  &__education-item--title,
  &__job-item--title {
    @include typography(700, 14px, 21px);
    margin-bottom: 12px;
    margin-left: 56px;
  }
  &__education-item--subTitle,
  &__job-item--subTitle {
    @include typography(500, 12px, 18px);
    margin-bottom: 12px;
    margin-left: 56px;
  }
  &__education-item--description,
  &__job-item--description {
    @include typography(500, 12px, 18px);
  }
  &__education div:nth-child(2),
  &__job div:nth-child(2) {
    margin-bottom: 45px;
  }
}
